.student-details {
    margin: 16px;
  }

  .link {
    font-size: 1rem;
  }
  
  .options_buttons {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    color: white;

  }

  .edit {
    background-color: blue;
    
  }
  
  .delete {
    background-color: red;
  }
  