form {
    display: flex;
    flex-direction: column;
}

input {
    width: 250px;
}

.button_create {
    margin-top: 1rem;
    align-self: auto;
    background-color: rgb(209, 81, 21);
}

.link {
    margin-left: 2rem;
    font-size: 1rem;
    display: inline-block;
    background-color: rgb(127, 255, 144);
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}